name : Testing outputs workflow

on:
  workflow_dispatch:  # allows manual trigger

jobs:
  producer_job:
    runs-on: ubuntu-latest
    outputs:
      output_key_exposed: ${{ steps.produce_output.outputs.output_key }}
    steps:
      - name: Produce an output
        id: produce_output
        run: |
          test_key="This is a sample output value"
          echo "output_key=$test_key" >> $GITHUB_OUTPUT
          echo "$GITHUB_OUTPUT"

  consumer_job:
    runs-on: ubuntu-latest
    needs: producer_job
    steps:
      - name: Consume the output from producer_job
        run: |
          echo "The output from producer_job is: ${{ needs.producer_job.outputs.output_key_exposed }}"